__pycache__/
*.pyc
.venv/
venv/
.env
.idea/
.vscode/
.ipynb_checkpoints/
dist/
build/
.DS_Store
train_data/
train_intention_label/
train_preprocessed_path/
val_intention_label/
val_preprocessed_path/
vis_results/
# checkpoints/
outputs/
# *.ckpt
# *.tar
*.log
*.csv
*.bak
*.backup

scripts/set_env.sh